html,
body,
#app {
  height: 100%;
  overflow-x: hidden;
  font-family:
    AlibabaPuHuiTi, PingFangSC-Regular, 'Microsoft Yahei', sans-serif;
}

.permission-hidden {
  /* biome-ignore lint/complexity/noImportantStyles: mandatory */
  display: none !important;
}
